.inputGroup {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.total {
    color: var(--color-06);
    margin: auto;
}

.label {
    color: var(--color-07);
}

.totalContainer {
    display: flex;
    flex-direction: column;
    height: 69px;
}

.deleteIcon {
    cursor: pointer;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}