.headingLg {
    font-size: var(--font-size-heading-lg);
    line-height: var(--line-height-heading-lg);
    letter-spacing: var(--letter-spacing-heading-lg);
    font-weight: bold;
}

.headingMd {
    font-size: var(--font-size-heading-md);
    line-height: var(--line-height-heading-md);
    letter-spacing: var(--letter-spacing-heading-md);
    font-weight: bold;
}

.headingSm {
    font-size: var(--font-size-heading-sm);
    line-height: var(--line-height-heading-sm);
    letter-spacing: var(--letter-spacing-heading-sm);
    font-weight: bold;
}

.headingSmVariant {
    font-size: var(--font-size-heading-sm);
    line-height: var(--line-height-heading-sm-variant);
    letter-spacing: var(--letter-spacing-heading-sm);
    font-weight: bold;
}

.body {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
}

.bodyVariant {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body-variant);
    letter-spacing: var(--letter-spacing-body-variant);
}

.boxShadow {
    box-shadow: -1px 15px 29px 0px rgba(117,117,117,0.75);
    -webkit-box-shadow: -1px 15px 29px 0px rgba(117,117,117,0.75);
    -moz-box-shadow: -1px 15px 29px 0px rgba(117,117,117,0.75);
}
